<%= div_for @exercise do %>
    <div class="container-fluid testing2">
        <div class="row">
          <div class="col-md-12">
            <div class="container center-delete-ex">
              <%= link_to "x", exercise_path(:id => @exercise.id, :workout_id => @exercise.workout.id), method: :delete, :remote => true, :class => "btn btn-danger delete-exercise" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <div class="row">
                <div class="col-md-4 dotted-border">
      <%= form_for @exercise, url: 'update_exercise', remote: true, format: :json, :html => { :id => "edit_workout_form" } do |ee| %>
                  <%= ee.label :name %>
                  <%= ee.text_field :name, placeholder: @exercise.name, class: "edit-workout-text form-control" %>
                </div>
                <div class="col-md-4 dotted-border">
                  <%= ee.label :difficulty %>
                  <%= ee.select(:difficulty, options_for_select([['Beginner', 'Beginner'], ['Intermediate', 'Intermediate'], ['Advanced', 'Advanced'], ['Expert', 'Expert']]), {}, { :class => "form-control" }) %>
                </div>
                <div class="col-md-4 dotted-border">
                  <h3 class="right-text-now"><span style="margin-right:25px"><em>Rating</em></span> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h4 class="label-text"><span class="glyphicon glyphicon-edit"></span> <em>Description</em></h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <%= ee.text_area :description, placeholder: @exercise.description, rows: 9, class: "edit-workout-description form-control" %>
                </div>
              </div>
              <div class="row">
                    <div class="col-md-6 dotted-border">
                      <%= ee.label :equipment %>
                      <%= ee.collection_select(:equipment, Equipment.all, :name, :name, { :prompt => true }, { :class => 'form-control' }) %>
                    </div>
                    <div class="col-md-2 dotted-border">
                      <%= ee.label :sets %>
                      <%= ee.text_field :sets, placeholder: @exercise.sets, class: "edit-workout-text form-control" %>
                    </div>
                    <div class="col-md-2 dotted-border">
                      <%= ee.label :reps %>
                      <%= ee.text_field :reps, placeholder: @exercise.reps, class: "edit-workout-text form-control" %>
                      <%= ee.hidden_field :id, :value => @exercise.id %>
                      <%= ee.hidden_field :workout_id, :value => @exercise.workout.id %>
                    </div>
                    <div class="col-md-2">
                      <h4 class="center-text-now">creator: <%= @exercise.user.username %></h4>
                    </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <%= ee.submit "Update Exercise", class: "btn btn-info update-exercise" %>
                </div>
              </div>
            </div>
            </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="container-fluid description-workout-dash tips-workout-dash ">
      <div class="row">
      <div class="col-md-12">
        <h4 class="custom-font white">Tips</h4>
        <% if @exercise.tips == 0 %>
          <p class="custom-font white"><em>There are no tips for this exercise yet...</em></p>
        <% else %>
          <% @exercise.tips.each do |t| %>
            <p><em><form action="/delete_tip" data-remote="true" method="POST">
              <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
              <input type="hidden" name="_method" value="delete">
              <input type="hidden" name="tip_id" value="<%= t.id %>">
              <input type="hidden" name="exercise_id" value="<%= e.id %>">
              <input type="hidden" name="workout_id" value="<%= @workout.id %>">
              <input type="submit" class="btn btn-danger delete-tip" value="x">
            </form> * <%= t.name %></em></p>
          <% end %>
        <% end %>
      </div>
      </div>
      <div class="row">
      <div class="col-md-12">
        <%= form_for :tip, remote: true, url: "exercise/#{@exercise.id}/create_tip/", method: :post, :html => { :id => "tip_form_edit", :class => 'white custom-font' } do |t| %>
          <!-- <div class="form-group white"> -->
              <%= t.label :name %>
              <%= t.text_field :name, class: "form-control" %>
          <!-- </div> -->
          <!-- <div class="form-group"> -->
              <%= t.hidden_field :user_id, :value => session[:current_user_id] %>
              <%= t.hidden_field :exercise_id, :value => @exercise.id %>
              <input type="submit" class="btn btn-warning add-tip-button" value="Add Tip">
          <!-- </div> -->
        <% end %>
      </div>
    </div>
  </div>
<% end %>
