<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" rel="home" href="/" id="logo">Gainz</a>
    </div>
     <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
              <li><a href="/dash">Home</a></li>
              <li><a href="/new_workout">New Workout</a></li>
              <li><a href="/workouts">My Workouts</a></li>
        </ul>
        <% if logged_in? %>
        <ul class="nav navbar-nav right-nav">
            <li><a href="/logout">Logout</a></li>
        </ul>
        <% end %>
      <div class="col-sm-3 col-md-3 pull-right search-bar">
           <div class="navbar-text"></div>
           <form class="navbar-form" role="search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>
           </form>
      </div>
    </div>
</div>
<div class="container-fluid" id="wrapper">
          <div class="row section-div">
            <div class="col-md-12">
                <h1 class="workout-dash-title text-center create-workout-label">Create Workout</h1>
            </div>
          </div>

                <% if flash[:workoutErrors] %>
                <div class="container-fluid section-div">
                  <div class="row">
                    <div class="col-md-12">
                  <% flash[:workoutErrors].each do |e| %>
                    <p style="color:red"><%= e %></p>
                  <% end %>
                    </div>
                  </div>
                </div>
                <% end %>

          <%= form_for :workout, url: "create_workout", method: :post, html: {class: "form-horizontal"} do |f| %>
          <div class="container-fluid section-div" id="workout-title">
            <div class="row">
                <%= f.label :title, class: "col-sm-2 control-label" %>
              <div class="col-md-10">
                <%= f.text_field :title, class: "col-sm-10 form-control" %>
              </div>
            </div>
          </div>
          <div class="container-fluid section-div" id="workout-description">
            <div class="row">
                <%= f.label :description, class: "col-sm-2 control-label" %>
              <div class="col-md-10">
                <%= f.text_area :description, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="container-fluid section-div" id="workout-difficulty">
            <div class="row">
              <%= f.label :difficulty, class: "col-sm-2 control-label" %>
              <div class="col-md-10">
                <%= f.select(:difficulty, options_for_select([['Beginner', 'Beginner'], ['Intermediate', 'Intermediate'], ['Advanced', 'Advanced'], ['Expert', 'Expert']]), {}, { :class => "form-control" }) %>

              </div>
            </div>
          </div>
          <div class="container-fluid section-div" id="workout-title">
            <div class="row">
              <%= f.label :duration, class: "col-sm-2 control-label" %>
              <div class="col-md-10">
                <div class="radio">
                <%= f.radio_button :duration, "< 10 Minutes" %>
                <%= f.label(:duration_1, "< 10 Minutes") %>
                </div>
                <div class="radio">
                <%= f.radio_button :duration, "15-30 Minutes" %>
                <%= f.label(:duration_2, "15-30 Minutes") %>
                </div>
                <div class="radio">
                <%= f.radio_button :duration, "30-45 Minutes" %>
                <%= f.label(:duration_3, "30-45 Minutes") %>
                </div>
                <div class="radio">
                <%= f.radio_button :duration, "45 Minutes - 1 Hour" %>
                <%= f.label(:duration_4, "45 Minutes - 1 Hour") %>
                </div>
                <div class="radio">
                <%= f.radio_button :duration, "1 Hour 30 Minutes - 2 Hours" %>
                <%= f.label(:duration_5, "1 Hour 30 Minutes - 2 Hours") %>
                </div>
                <div class="radio">
                <%= f.radio_button :duration, "2-3 Hours" %>
                <%= f.label(:duration_6, "2-3 Hours") %>
                </div>
                <div class="radio">
                <%= f.radio_button :duration, "3-4 Hours" %>
                <%= f.label(:duration_7, "3-4 Hours") %>
                </div>
                <div class="radio">
                <%= f.radio_button :duration, "4+ Hours" %>
                <%= f.label(:duration_8, "4+ Hours") %>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid section-div" id="workout-title">
            <div class="row">
              <label for="targeted_muscles" class="col-sm-2 control-label">Targeted Muscles</label>
              <div class="col-md-10">
                <%= f.collection_check_boxes :targeted_muscle_ids, TargetedMuscle.all, :id, :name do |b| %>
                    <div class="collection-check-box">
                      <%= b.check_box %>
                      <%= b.label %>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <div class="container-fluid section-div">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="container button-centering">
                      <input type="submit" class="btn btn-primary add-exercises" value="Add Exercises">
                    </div>
                  </div>
                </div>
              </div>
</div>
<% end %>
