
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" rel="home" href="/" id="logo">Gainz</a>
      </div>
       <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
                <li><a href="/dash">Home</a></li>
                <li><a href="/new_workout">New Workout</a></li>
                <li><a href="/workouts">My Workouts</a></li>
          </ul>
          <% if logged_in? %>
            <ul class="nav navbar-nav right-nav">
                <li><a href="/logout">Logout</a></li>
            </ul>
          <% end %>
        <div class="col-sm-3 col-md-3 pull-right search-bar">
             <div class="navbar-text"></div>
             <form class="navbar-form" role="search">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                  </div>
                </div>
             </form>
        </div>
      </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          <div class="container-fluid">
              <div class="row section-div-title text-center">
                  <div class="col-md-12">
                      <h4><em>Title</em></h4>
                  </div>
              </div>
          <!-- </div> -->
          <!-- <div class="container-fluid"> -->
              <div class="row section-div-data text-center">
                  <div class="col-md-12">
                    <h4><%= @workout.title %></h4>
                  </div>
              </div>
          </div>
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-12">
                    <%= image_tag("workout-main.jpg", :alt => "Workout Default", :size => "450x300", :class => "workout-main") %>
                  </div>
              </div>
          </div>
          <div class="container-fluid after-img-containers">
              <div class="row section-div-name text-center">
                  <div class="col-md-12">
                      <h4><em>Description</em></h4>
                  </div>
              </div>
              <div class="row section-div-query text-center">
                  <div class="col-md-12">
                    <h4><%= @workout.description %></h4>
                  </div>
              </div>
          </div>
          <div class="container-fluid after-img-containers">
              <div class="row section-div-name text-center">
                  <div class="col-md-12">
                      <h4><em>Equipment</em></h4>
                  </div>
              </div>
              <div class="row section-div-query text-center">
                  <div class="col-md-12">
                    <% @workout.exercises.each do |ex| %>
                          <h4 class="workout-title"><%= ex.equipment %></h4>
                    <% end %>
                  </div>
              </div>
          </div>
          <div class="container-fluid after-img-containers">
              <div class="row">
                  <div class="col-md-6">
                      <div class="container-fluid">
                          <div class="row section-div-name text-center">
                            <div class="col-md-12">
                                <h4><em>Difficulty</em></h4>
                            </div>
                          </div>
                          <div class="row section-div-query text-center">
                            <h4 class="workout-title"><%= @workout.difficulty %></h4>
                          </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="container-fluid">
                            <div class="row section-div-name text-center">
                              <div class="col-md-12">
                                  <h4><em>Duration</em></h4>
                              </div>
                            </div>
                            <div class="row section-div-query text-center">
                              <h4 class="workout-title"><%= @workout.duration %></h4>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="container-fluid after-img-containers">
                <div class="row section-div-name text-center">
                    <div class="col-md-12">
                        <h4><em>Targeted Muscles</em></h4>
                    </div>
                </div>
                <div class="row section-div-query text-center">
                    <div class="col-md-12">
                      <ul style="margin-top:8px">
                        <% @workout.targeted_muscles.each do |tm| %>
                          <li class="custom-font white"><%= tm.name %></li>
                        <% end %>
                      </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid after-img-containers">
                <div class="row section-div-name text-center">
                    <div class="col-md-12">
                      <h1 class="text-center">Exercises</h1>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row text-center">
                    <div class="col-md-12">
                      <% if @workout.exercises.count == 0 %>
                        <div class="container-fluid no-exercises-added">
                          <div class="row">
                            <div class="col-md-12">
                              <h4>There are currently no exercises added...</h4>
                            </div>
                          </div>
                        </div>
                      <% else %>
                        <% @workout.exercises.each do |exercise| %>
                          <div class="container-fluid">
                          <div class="row edit-exercise">
                              <!-- <div class="col-md-1 workout-default-img-div">
                                <%= image_tag("profile27.png", class: "workout-prof-pic") %>
                              </div> -->
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-5" style="padding-top:1%;">
                                    <h4 class="text-left"><%= exercise.name %></h4>
                                  </div>
                                  <div class="col-md-3">
                                      <h4><%= exercise.difficulty %></h4>
                                  </div>
                                  <div class="col-md-4">
                                      <h4 style="display:inline-block;">Rating</h4>
                                      <%= image_tag("star.png", class: "star") %>
                                      <%= image_tag("star.png", class: "star") %>
                                      <%= image_tag("star.png", class: "star") %>
                                      <%= image_tag("star.png", class: "star") %>
                                      <%= image_tag("star.png", class: "star") %>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-12">
                                    <h5 class="text-left">Description:</h5>
                                    <h5 class="text-left"><%= exercise.description %></h5>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-3">
                                    <h5 class="workout-div-bott-text"><%= exercise.equipment %></h5>
                                  </div>
                                  <div class="col-md-3">
                                    <h5 class="workout-div-bott-text">Sets: <%= exercise.sets%></h5>
                                  </div>
                                  <div class="col-md-3">
                                    <h5 class="workout-div-bott-text">Reps: <%= exercise.reps %></h5>
                                  </div>
                                  <div class="col-md-3">
                                    <h5 class="workout-div-bott-text"><%= image_tag("profile-black.png", class: "workout-prof-pic") %> <%= exercise.user.username %></h5>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                              <div class="container-fluid edit-exercise-tip-div">
                                <div class="row">
                                  <div class="col-md-12">
                                    <h4 class="text-left">Tips</h4>
                                      <% exercise.tips.each do |t| %>
                                        <p class="text-left"><em>* <%= t.name %></em></p>
                                      <% end %>
                                  </div>
                                </div>
                              </div>
                          <% end %>
                        <% end %>
                        <div class="container">
                          <div class="row">
                            <div class="col-md-12">

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
