<div class="container-fluid main-body">

                <div class="row show-workout-label background-color-grey white">
                  <div class="col-md-12">
                    <h4 class="label-text custom-font white"><span class="glyphicon glyphicon-edit"></span> <em>Title</em></h4>
                  </div>
                </div>
          <%= form_for @workout, url: 'update_workout', format: :json, method: :put, :html => { :id => "edit_workout_form" } do |ew| %>
                <div class="row show-workout-title background-color-grey">
                  <div class="col-md-12 edit-workout-field">
                    <div class="form-group">
                        <%= ew.text_field :title, placeholder: @workout.title, class: "edit-workout-text form-control" %>
                    </div>
                  </div>
                </div>

            <div class="row">
              <div class="col-md-12">
                <%= image_tag("workout-main.jpg", :alt => "Workout Default", :size => "450x300", :class => "workout-main") %>
              </div>
            </div>

            <div class="row">
                <div class="row show-workout-label white background-color-grey">
                  <div class="col-md-12">
                    <h4 class="label-text"><span class="glyphicon glyphicon-edit"></span> <em>Description</em></h4>
                  </div>
                </div>
                <div class="row show-workout-title white background-color-grey">
                    <div class="col-md-12 edit-workout-field">
                      <%= ew.text_area :description, placeholder: @workout.description, rows: 9, class: "edit-workout-description form-control" %>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="row show-workout-label white background-color-grey">
                      <div class="col-md-12">
                        <h4 class="label-text"><em>Equipment</em></h4>
                      </div>
                    </div>
                    <div class="row show-workout-title background-color-grey">
                        <div class="col-md-12">
                          <% @workout.exercises.each do |ex| %>
                              <h4 class="workout-title"><%= ex.equipment %></h4>
                          <% end %>
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row show-workout-label white background-color-grey">
                      <div class="col-md-12">
                        <h4 class="label-text"><span class="glyphicon glyphicon-edit"></span> <em>Difficulty</em></h4>
                      </div>
                    </div>
                    <div class="row show-workout-title white background-color-grey">
                        <div class="col-md-12">
                            <h4>Current Difficulty: <%= @workout.difficulty %></h4>
                            <%= ew.select(:difficulty, options_for_select([['Beginner', 'Beginner'], ['Intermediate', 'Intermediate'], ['Advanced', 'Advanced'], ['Expert', 'Expert']]), {}, { :class => "form-control edit-workout-text" }) %>
                          <!-- </div> -->
                        </div>
                    </div>
              </div>
              <div class="col-md-6">
                  <div class="row show-workout-label white background-color-grey">
                      <div class="col-md-12">
                        <h4 class="label-text"><span class="glyphicon glyphicon-edit"></span> <em>Duration</em></h4>
                      </div>
                  </div>
                  <div class="row show-workout-duration white background-color-grey">
                        <div class="col-md-12">

                              <div class="radio">
                              <%= ew.radio_button :duration, "< 15 Minutes" %>
                              <%= ew.label(:duration_1, "< 15 Minutes") %>
                              </div>


                              <div class="radio">
                              <%= ew.radio_button :duration, "15-30 Minutes" %>
                              <%= ew.label(:duration_2, "15-30 Minutes") %>
                              </div>


                              <div class="radio">
                              <%= ew.radio_button :duration, "30-45 Minutes" %>
                              <%= ew.label(:duration_3, "30-45 Minutes") %>
                              </div>


                              <div class="radio">
                              <%= ew.radio_button :duration, "45 Minutes - 1 Hour" %>
                              <%= ew.label(:duration_4, "45 Minutes - 1 Hour") %>
                              </div>

                              <div class="radio">
                              <%= ew.radio_button :duration, "1 Hour - 1 Hour 30 Minutes" %>
                              <%= ew.label(:duration_2, "1 Hour - 1 Hour 30 Minutes") %>
                              </div>

                              <div class="radio">
                              <%= ew.radio_button :duration, "1 Hour 30 Minutes - 2 Hours" %>
                              <%= ew.label(:duration_5, "1 Hour 30 Minutes - 2 Hours") %>
                              </div>


                                <div class="radio">
                                  <%= ew.radio_button :duration, "2-3 Hours" %>
                                  <%= ew.label(:duration_6, "2-3 Hours") %>
                                </div>


                                <div class="radio">
                                  <%= ew.radio_button :duration, "3-4 Hours" %>
                                  <%= ew.label(:duration_7, "3-4 Hours") %>
                                </div>


                                <div class="radio">
                                  <%= ew.radio_button :duration, "4+ Hours" %>
                                  <%= ew.label(:duration_8, "4+ Hours") %>
                                </div>
                            </div>
                      </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                    <div class="row show-workout-label white background-color-grey">
                        <div class="col-md-12">
                            <h4 class="label-text"><span class="glyphicon glyphicon-edit"></span> <em>Targeted Muscles</em></h4>
                        </div>
                    </div>
                    <div class="row show-workout-duration white background-color-grey">
                        <div class="col-md-12">
                          <%= ew.collection_check_boxes :targeted_muscle_ids, TargetedMuscle.all, :id, :name do |b| %>
                              <div class="collection-check-box">
                                <%= b.check_box %>
                                <%= b.label %>
                              </div>
                          <% end %>
                        </div>
                        <%= ew.hidden_field :user_id, :value => @workout.user.id %>
                        <%= ew.hidden_field :workout_id, :value => @workout.id %>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                  <div class="center-button">
                    <input type="submit" class="btn btn-primary update-workout" value="Update Workout">
                  </div>
                </div>
            </div>
          <% end %>
            <div class="row">
              <div class="col-md-12">
                <% if @exercises %>
                  <% @exercises.each do |exercise| %>
                    <%= render exercise %>
                  <% end %>
                <% end %>
                      <div class="container-fluid testing">
                          <div class="row">
                              <div class="col-md-12">
                                <%= form_for :exercise, remote: true, url: 'create_exercise', format: :json, :html => { :id => "exercise_form" } do |e| %>

                                  <div id="error_explanation" style='display:none;'>
                                    <ul>
                                      <!-- <% if @exercise %> -->
                                        <% if @exercise.errors.any? %>
                                          <% @exercise.errors.full_messages.each do |msg| %>
                                            <li style="color:red"><%= msg %></li>
                                          <% end %>
                                        <% end %>
                                      <!-- <% end %> -->
                                    </ul>
                                  </div>

                                  <div class="form-group">
                                    <div class="col-sm-4">
                                      <%= e.label :name %>
                                      <%= e.text_field :name, class: "form-control" %>
                                    </div>
                                    <div class="col-sm-4">
                                      <%= e.label :difficulty %>
                                      <%= e.select(:difficulty, options_for_select([['Beginner', 'Beginner'], ['Intermediate', 'Intermediate'], ['Advanced', 'Advanced'], ['Expert', 'Expert']]), {}, { :class => "form-control" }) %>
                                    </div>
                                    <div class="col-sm-4">
                                      <%= label :exercise, :user_id %>
                                      <%= text_field :exercise, :user_id, class: "form-control", value: @workout.user.username, placeholder: @workout.user.username, readonly: true %>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <div class="col-sm-12">
                                      <%= e.label :description %>
                                      <%= e.text_field :description, class: "form-control" %>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                      <div class="col-sm-4">
                                        <%= e.label :equipment %>
                                        <%= e.collection_select(:equipment, Equipment.all, :name, :name, { :prompt => true }, { :class => 'form-control' }) %>
                                      </div>
                                      <div class="col-sm-4">
                                        <%= e.label :sets %>
                                        <%= e.text_field :sets, class: "form-control" %>
                                      </div>
                                      <div class="col-sm-4">
                                        <%= e.label :reps %>
                                        <%= e.text_field :reps, class: "form-control" %>
                                      </div>
                                        <%= e.hidden_field :user_id, :value => @workout.user.id %>
                                        <%= e.hidden_field :workout_id, :value => @workout.id %>
                                  </div>
                                  <div class="form-group">
                                      <div class="col-sm-12">
                                        <div class="container button-centering">
                                            <%= e.submit "Add Exercise", class: "btn btn-primary add-exercise button-width-full", id: "add-exercise-edit" %>
                                        </div>
                                      </div>
                                  </div>
                                <% end %>
                        </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="container button-centering">
                        <%= link_to "Delete Workout", @workout, class: "sm-add-exercise btn btn-danger delete-workout", method: :delete %>
                      </div>
                    </div>
                  </div>
                </div>
