<div class="container-fluid main-body">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
                <h1 class="center-text-now create-workout-label">Create Workout</h1>
            </div>
          </div>
          <% if flash[:workoutErrors] %>
            <% flash[:workoutErrors].each do |e| %>
              <p style="color:red"><%= e %></p>
            <% end %>
          <% end %>
          <%= form_for :workout, url: "create_workout", method: :post, html: {class: "form-horizontal"} do |f| %>
          <div class="container-fluid testing2" id="workout-title">
            <div class="row">
                <%= f.label :title, class: "col-sm-2 control-label" %>
              <div class="col-md-10">
                <%= f.text_field :title, class: "col-sm-10 form-control" %>
              </div>
            </div>
          </div>
          <div class="container-fluid testing2" id="workout-title">
            <div class="row">
                <%= f.label :description, class: "col-sm-2 control-label" %>
              <div class="col-md-10">
                <%= f.text_area :description, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="container-fluid testing2" id="workout-title">
            <div class="row">
              <%= f.label :difficulty, class: "col-sm-2 control-label" %>
              <div class="col-md-10">
                <%= f.select(:difficulty, options_for_select([['Beginner', 'Beginner'], ['Intermediate', 'Intermediate'], ['Advanced', 'Advanced'], ['Expert', 'Expert']]), {}, { :class => "form-control" }) %>

              </div>
            </div>
          </div>
          <div class="container-fluid testing2" id="workout-title">
            <div class="row">
              <%= f.label :duration, class: "col-sm-2 control-label" %>
              <div class="col-md-10">
                <div class="radio">
                <%= f.radio_button :duration, "< 10 Minutes" %>
                <%= f.label(:duration_1, "< 10 Minutes") %>
                </div>
                <div class="radio">
                <%= f.radio_button :duration, "15-30 Minutes" %>
                <%= f.label(:duration_2, "15-30 Minutes") %>
                </div>
                <div class="radio">
                <%= f.radio_button :duration, "30-45 Minutes" %>
                <%= f.label(:duration_3, "30-45 Minutes") %>
                </div>
                <div class="radio">
                <%= f.radio_button :duration, "45 Minutes - 1 Hour" %>
                <%= f.label(:duration_4, "45 Minutes - 1 Hour") %>
                </div>
                <div class="radio">
                <%= f.radio_button :duration, "1 Hour 30 Minutes - 2 Hours" %>
                <%= f.label(:duration_5, "1 Hour 30 Minutes - 2 Hours") %>
                </div>
                <div class="radio">
                <%= f.radio_button :duration, "2-3 Hours" %>
                <%= f.label(:duration_6, "2-3 Hours") %>
                </div>
                <div class="radio">
                <%= f.radio_button :duration, "3-4 Hours" %>
                <%= f.label(:duration_7, "3-4 Hours") %>
                </div>
                <div class="radio">
                <%= f.radio_button :duration, "4+ Hours" %>
                <%= f.label(:duration_8, "4+ Hours") %>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid testing2" id="workout-title">
            <div class="row">
              <label for="targeted_muscles" class="col-sm-2 control-label">Targeted Muscles</label>
              <div class="col-md-10">
                <%= f.collection_check_boxes :targeted_muscle_ids, TargetedMuscle.all, :id, :name do |b| %>
                    <div class="collection-check-box">
                      <%= b.check_box %>
                      <%= b.label %>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <div class="conatiner">
                <div class="row">
                  <div class="col-sm-12">
                      <input type="submit" class="btn btn-primary add-exercise" value="Add Exercises">
                  </div>
                </div>
              </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
