<div class="container-fluid main-body">
  <div class="row">
    <div class="col-md-12">
      <div class="container-fluid edit-exercise">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Add Exercises</h1>
          </div>
        </div>
      </div>
      <div class="exercises-div">
        <% if @exercises.count == 0 %>
          <div class="container-fluid no-exercises-added">
            <div class="row">
              <div class="col-md-12">
                <h4>There are currently no exercises added...</h4>
              </div>
            </div>
          </div>
        <% else %>
            <% @exercises.each do |exercise| %>
              <%= render exercise %>
            <% end %>
        <% end %>
      </div>
      <div class="container-fluid add-exercise-div">
        <div class="row">
          <div class="col-md-12">
            <%= form_for @exercise, url: 'create_exercise', remote: true, :html => { :id => "exercise_form_add" } do |e| %>
              <div id="error_explanation">

              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <%= e.label :name %>
                  <%= e.text_field :name, class: "form-control" %>
                </div>
                <div class="col-sm-4">
                  <%= e.label :difficulty %>
                  <%= e.select(:difficulty, options_for_select([['Beginner', 'Beginner'], ['Intermediate', 'Intermediate'], ['Advanced', 'Advanced'], ['Expert', 'Expert']]), {}, { :class => "form-control" }) %>
                </div>
                <div class="col-sm-4">
                  <%= label :exercise, :user_id %>
                  <%= text_field :exercise, :user_id, class: "form-control", value: @workout.user.username, placeholder: @workout.user.username, readonly: true %>
                </div>
              </div>
              <!-- SEPERATOR -->
              <div class="form-group">
                <div class="col-sm-12">
                  <%= e.label :description %>
                  <%= e.text_field :description, class: "form-control" %>
                </div>
              </div>
              <div class="form-group">
                  <div class="col-sm-4">
                    <%= e.label :equipment %>
                    <%= e.collection_select(:equipment, Equipment.all, :name, :name, { :prompt => true }, { :class => 'form-control' }) %>
                  </div>
                  <div class="col-sm-4">
                    <%= e.label :sets %>
                    <%= e.text_field :sets, class: "form-control" %>
                  </div>
                  <div class="col-sm-4">
                    <%= e.label :reps %>
                    <%= e.text_field :reps, class: "form-control" %>
                  </div>
                    <%= e.hidden_field :user_id, :value => @workout.user.id %>
                    <%= e.hidden_field :workout_id, :value => @workout.id %>
              </div>
              <div class="form-group">
                  <div class="col-sm-12">
                    <div class="container button-centering">
                        <%= e.submit "Add Exercise", class: "btn btn-primary add-exercise" %>
                    </div>
                  </div>
              </div>
            <% end %>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12" style="padding-bottom:3%;">
                <%= link_to 'Complete Workout', 'show_workout', id: @workout.id, class: "btn btn-warning add-exercises" %>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
